language: cpp
compiler:
  - gcc
before_script:
 - sudo apt-get update -qq
 - sudo apt-get install -qq libboost-all-dev libtolua-dev bc libcdb-dev libnet-dns-perl ldnsutils dnsutils
script:
 - ./bootstrap
 - ./configure --with-modules='gmysql mydns tinydns' --with-sqlite3
 - make -j 4
 - cd regression-tests
 - touch verify-dnssec-zone/skip
 - ./start-test-stop 5301 bind
 - ./start-test-stop 5302 bind-presigned
 - ./start-test-stop 5303 bind-dnssec
 - ./start-test-stop 5304 bind-dnssec-presigned
 - ./start-test-stop 5305 bind-dnssec-nsec3
 - ./start-test-stop 5306 bind-dnssec-nsec3-presigned
 - ./start-test-stop 5307 gmysql-nodnssec
 - ./start-test-stop 5308 gmysql-nodnssec-presigned
 - ./start-test-stop 5309 gmysql
 - ./start-test-stop 5310 gmysql-presigned
 - ./start-test-stop 5311 gmysql-nsec3
 - ./start-test-stop 5312 gmysql-nsec3-presigned
 - ./start-test-stop 5312 gmysql-nsec3-narrow
 - ./start-test-stop 5313 tinydns
 - ./start-test-stop 5315 mydns
 - ./start-test-stop 5316 gmysql nowait 3600
 - ./start-test-stop 5317 gmysql-presigned nowait 3600
 - ./start-test-stop 5318 gmysql-nsec3 nowait 3600
 - ./start-test-stop 5319 gmysql-nsec3-presigned nowait 3600
 - ./start-test-stop 5320 gmysql-nsec3-narrow nowait 3600
 - cd ../regression-tests.nobackend/
 - ./runtests
notifications:
  irc:
    channels:
      - "irc.oftc.net#powerdns-dev"
    use_notice: true
    skip_join: true
